         <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">banish</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{this.user_nickname}}</td>
                        <td><a href="/ban/{{chatroom_id}}/{{this.user_id}}"" role="button" type="button" class="btn btn-link">ban</a></td>
                    </tr>
                    {{/each}}
                </tbody>
        </table>