
    <style>
 
      
      form {  position: fixed; bottom: 0;}
      form input { border: 0;  }
      
      .message-box {
          height: 400px;
      }
      
      #messages li { margin-bottom: 10px; color: black}
      #messages { margin-bottom: 40px }
    </style>

    <div class='container'>
        <div class='message-box'>
            <ul id="messages" ></ul>
        </div>
         
        <form action="">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="m" autocomplete="off"  >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Send</button>
                </div>
            </div>
        </form>
    </div>




    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io();
        $('form').submit(function(){
          socket.emit(`chat`, {id:`{{chatroom_id}}`, msg:$('#m').val()});
          $('#m').val('');
          return false;
        });
        socket.on(`{{chatroom_id}}`, function(msg){
          $('#messages').append($('<li class=" list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center">')
              .html(`${msg} <span class="badge badge-primary badge-pill">2</span>`));
          window.scrollTo(0, document.body.scrollHeight);
        });
      });
    </script>
