
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="card bg-dark text-center">
    <div class="card-header">
    Create New Chatting Room
    </div>
    <br>
    <form class="container" action="/newchat" method="POST" >
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Chatting Room Name</label>
            <div class="col-sm-10">
            <input type="text" name='room_name' class="form-control" id="inputEmail3" placeholder="Chatting Room Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Hashtag</label>
            <div class="col-sm-10">
            <input type="text" name='hash' class="form-control" id="inputPassword3" placeholder="Hashtag">
            </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Chatting Room Type</legend>
            <div class="col-sm-10">
                <div class="form-check">
                <input class="form-check-input" type="radio" name="room_type" id="gridRadios1" value="G" checked>
                <label class="form-check-label" for="gridRadios1">
                    Group Chatting
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="room_type" id="gridRadios2" value="P">
                <label class="form-check-label" for="gridRadios2">
                    Personal Chatting
                </label>
                </div>
            </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-sm-10">
            <button type="submit" class="btn btn-light">Create New ChatRoom</button>
            </div>
        </div>
    </form>
    </div>
</div>

