    <div class="card mb-3 myinfo ">
    <img class="card-img-top myimg" src="{{user.user_profile}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{user.user_nickname}}</h5>
            <p class="card-text"><small class="text-muted">{{user.user_id}}</small></p>
        </div>
    </div>